/** _buttons.scss **/

.btn {
    @include btn-normal;
}

.btn-light {
    @extend .btn;
}

.btn-dark {
    @extend .btn-light;
    border: {
        color: $btn-border-color-dark;
    }
    color: $btn-color-dark;
    &:hover,
    &:focus,
    &:active {
        background: {
            color: $btn-bg-color-dark-hover;
        }
        color: $btn-color-dark-hover;
    }
}

.btn-social {
    @include btn-circle;
}