<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="scaber" content="">
        <link rel="icon" href="logo/logo_icon.png">
        <title><%= title %></title>
        <!-- Custom styles for this template -->
        <link href="aboutus.css" rel="stylesheet">
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <% include ../elements/navbar_pure %>
<body>
    <div class="out">
    	<img id="top" src="aboutus/aboutus1-03.png">
         <div class="blank"></div>
    	 <div class="content">
         <ul>
              <li>
    	  	       <div class="back" id="chu_back">
                    <div class="circle" id="chu"></div>
                     <p class="job">後端系統工程師</p>
                     <p class="name">瞿旭民</p>
                     <p class="hint">人生，只有自己能夠決定;即使當壞人，是我自己選擇，自己負責，沒人能夠評斷是好是壞，只有自己能說的算</p>


    	        	</div>
              </il>

              <li>
    	      	  <div class="back"id="king_back">
    		  	       <div class="circle" id="king"></div>
                    <p class="job">法條顧問</p>
                     <p class="name">吳治緯</p>
                     <p class="hint">我們有力的道德就是通過奮鬥取得物質上的成功；這種道德既適用於國家，也適用於個人，每個人都要了解</p>
    	        	</div>
              </li>

               <li>
    	       	 　 <div class="back" id="designer_back">
    		    	     <div class="circle" id="designer"></div>
                     <p class="job">視覺設計師</p>
                     <p class="name">張睿宏</p>
                     <p class="hint">要得到，你必須要付出；要付出，你還要學會堅持；如果真的覺得很難，那你就放棄，但放棄的就不要抱怨</p>
    	    	     </div>
               </li>

                <li>
    	       	    <div class="back" id="lu_back">
    	     	   	    <div class="circle" id="lu"></div>
                       <p class="job">前端工程師</p>
                     <p class="name">陸勇盛</p>
                     <p class="hint">要得到，你必須要付出，你還要學會堅持；不要問你的國家能夠為你做些什麼，而要問你可以為國家做些什麼</p>

    	        	  </div>
                </li>

                <li>
    	  	         <div class="back" id="liu_back">
    		        	   <div class="circle" id="liu"></div>
                        <p class="job">隊長/仲介</p>
                     <p class="name">劉家良</p>
                     <p class="hint">人的生命是有限的，可是為人民服務是無限的，我要把有限的生命投入到無限的為人民服務之中去！</p>
    	        	   </div>
                </li>
         </ul>
    	</div>
    </div>
</body>
    <script>
        // Offset for navbar
        $('#navbar').affix({
          offset: {
              top: 100
          }
        });
    </script>
</html>
