<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body id="page-top">
        <!-- Include navbar.ejs -->
        <% include ../elements/navbar %>

        <!-- Include header.ejs -->
        <% include ../elements/header %>

        <!-- Include about.ejs -->
        <% include ../elements/about %>

        <% include ../elements/service %>

        <!-- Include signin.ejs -->
        <% include ../elements/signin %>

        <% include ../elements/contact %>

        <!-- Include footer.ejs -->
        <% include ../elements/footer %>
    </body>
    <script>
    // Offset for navbar
    $('#navbar').affix({
        offset: {
            top: 100
        }
    });
    </script>
</html>
