<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body id="page-top">
        <!-- Include navbar.ejs -->
        <% include ../elements/navbar %>

        <!-- Include header.ejs -->
        <!-- Note: move sign-in here -->
        <% include ../elements/header %>

        <!-- Include feature.ejs -->
        <% include ../elements/feature %>

        <!-- Include passenger.ejs -->
        <% include ../elements/passenger %>

        <!-- Include demo -->
        <% include ../elements/demo %>

        <!-- Include driver.ejs -->
        <% include ../elements/driver %>

        <!-- Include driver demo -->

        <!-- Include about.ejs -->
        <% include ../elements/team %>

        <!-- Include footer.ejs -->
        <% include ../elements/footer %>
    </body>
</html>
