<html>
    <head>
        <% include meta %>
        <% include lib %>
        <% include lib_local %>
    </head>
    <body>
        <% include home %>

        <% include about %>

        <% include service %>

        <% include signin %>

        <% include contact %>
        
        <% include footer %>
    </body>
</html>