<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body id="pop-top">
        <!-- Include navbar.ejs -->
        <% include ../elements/navbar %>

        <% include ../elements/header %>

        <% include ../elements/service %>

        <% include ../elements/signin %>

        <% include ../elements/contact %>

        <!-- Include footer.ejs -->
        <% include ../elements/footer %>
    </body>
</html>
