<html>
    <head>
        <!-- Include meta.ejs -->
        <% include ../elements/meta %>
        <!-- Include lib.ejs -->
        <% include ../elements/lib %>
    </head>
    <body id="page-top">
        <!-- Include navbar.ejs -->
        <% include ../elements/navbar %>

        <!-- Include header.ejs -->
        <% include ../elements/header %>

        <!-- Include about.ejs -->
        <% include ../elements/feature %>

        <!-- Include service.ejs -->
        <% include ../elements/service %>

        <!-- Include signin.ejs -->
        <% include ../elements/signin %>

        <!-- Include contact.ejs -->
        <% include ../elements/about %>

        <!-- Include footer.ejs -->
        <% include ../elements/footer %>
    </body>
</html>
