<html>
    <head>
        <% include ../elements/meta %>
        <% include ../elements/lib %>
    </head>
    <body>
        <% include ../elements/home %>

        <% include ../elements/about %>

        <% include ../elements/service %>

        <% include ../elements/siginin %>

        <% include ../elements/contact %>

        <% include ../elements/footer %>
    </body>
</html>
