<!-- SCABER security monitor -->
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <% include ../elements/meta %>
    <% include ../elements/pure_lib %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> <!-- Socket.io lib -->
    <script src="sjcl.js"></script> <!-- Sjcl lib -->
</head>
<body>
    <!-- Current available car pool -->
    
    <!-- Current waiting user -->

    <!-- Current ongoing channel -->
</body>
</html>
