<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <% include ../elements/meta %>
    <% include ../elements/pure_lib %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> <!-- Socket.io lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating_locale_ua.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/js/star-rating.min.js"></script>
    <script src="sjcl.js"></script> <!-- Sjcl lib -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/theme-krajee-fa.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/theme-krajee-svg.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.1/css/theme-krajee-uni.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container" style="margin-top: 20px">
        <div class="w3-row-padding w3-round-xlarge w3-light-gray">
            <!-- <form action="" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post"> -->
                <h2 class="w3-center">Security Ensurement</h2>
                <!-- Username -->
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                    <div class="w3-rest">
                        <input id="userID" class="w3-input w3-border" name="userID" type="text" placeholder="Username here...">
                    </div>
                </div>
                <!-- Password -->
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-book"></i></div>
                    <div class="w3-rest">
                        <input id="userPWD" class="w3-input w3-border" name="userPWD" type="text" placeholder="Password here...">
                    </div>
                </div>
                <!-- Type -->
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-book"></i></div>
                    <div class="w3-rest">
                        <input id="userTYPE" class="w3-input w3-border" name="type" type="text" placeholder="Facebook, google...">
                    </div>
                </div>
                <!-- Random Key from server -->
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge w3-text-red fa fa-key"></i></div>
                    <div class="w3-rest">
                        <input id="randomkey" class="w3-input w3-border" name="r_key" type="text" readonly="true" placeholder="Random Key">
                    </div>
                </div>
                <!-- Key from server -->
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-key"></i></div>
                    <div class="w3-rest">
                        <input id="key" class="w3-input w3-border" name="key" type="text" readonly="true" placeholder="key">
                    </div>
                </div>

                <!-- Encrypted result -->
                <div class="w3-row w3-section">
                    <div class="form-group">
                        <label for="comment">Encryted result Here</label>
                        <textarea class="form-control" rows="10" id="result" name="result"></textarea>
                    </div>
                </div>
                <!-- Submit -->
                <div class="w3-row w3-section">
                    <div class="w3-half">
                        <button onclick="goEncrypt()" class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding w3-round-large">Submit</button>
                    </div>
                    <div class="w3-half">
                        <button onclick="clear()" class="w3-button w3-block w3-section w3-red w3-ripple w3-padding w3-round-large">Back</button>
                    </div>
                </div>
            <!-- </form> -->
            <!-- Modal here -->
            <% include ../elements/modal_error %>
            <!-- Modal location here -->
            <% include ../elements/modal_loc %>
        </div>
    </div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= apikey %>&callback=getCurrentLocation"></script>
<script type="text/javascript" src="geometry.js"></script>
<script type="text/javascript" src="user_defined_operator.js"></script> <!-- User-defined Usage -->
<script type="text/javascript" src="modal_loc.js"></script> <!-- Modal location Usage -->
<script>
const socket = io();
$('#modal_error').modal({show:false});
$('#modal_loc').modal({show:false});
var key1_rand = '';

// fetch position (callback)
getCurrentLocation(function(err,msg){
    // alert(pos.lat);
    if(err){
        alert(msg);
        console.log(msg);
    }
    else{
        alert("Get your position (lat,lng) = (" + msg.lat + "," + msg.lng + ")");
        console.log("Get your position (lat,lng) = (" + msg.lat + "," + msg.lng + ")");
    }
});

// emit first , to get an random generated key
socket.emit('randomkey_require',{});

// Get this random key (for the first time)
socket.on('randomkey_get',function(data){
    key1_rand = data.randomkey;
    document.getElementById('randomkey').value = key1_rand;
});

// Get the user token
socket.on('key_get',function(data){
    document.getElementById('key').value = data.key;
    document.getElementById('result').value = "Get encrypted password: " + sjcl.encrypt(data.key,document.getElementById('userPWD').value);
    // show the success modal for user to use
    $('#modal_loc').modal('show');
    $('#ml_statusbar').text("Waiting...");
});

// Get the match driver
socket.on('match_driver',function(driver_info){
    console.dir(driver_info.driver);
    document.getElementById('matched_driver').innerHTML = driver_info.driver.name;
    document.getElementById('arrival_time').innerHTML = "4:33"; // FIXME calculate by true location of driver
    console.log("Original: "+document.getElementById('driver_rating').value+"; New: " + driver_info.driver.rate);
    // document.getElementById('driver_rating')
    $('#driver_rating').rating('update', driver_info.driver.rate);
    //document.getElementById('driver_rating').value = driver_info.driver.rate;
    document.getElementById('driver_img').src = driver_info.driver.img;
})

function goEncrypt(){
    socket.emit('key_require',{
        username: sjcl.encrypt(key1_rand,document.getElementById('userID').value),
        type: sjcl.encrypt(key1_rand,document.getElementById('userTYPE').value),
        key: key1_rand
    });
}

// when error occur
socket.on('user_error',function(msg_data){
    console.log("Get error message!")
    document.getElementById('modal_error_msg').innerHTML = msg_data.msg;
    // And show the modal
    $('#modal_error').modal('show');
});
</script>
</html>
