<html>
<head>
    <!-- Include meta.ejs -->
    <% include ../elements/meta %>
    <!-- Include lib.ejs -->
    <% include ../elements/lib %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>

<div id="container">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>頻道名稱</th>
                <th>負責司機</th>
                <th>守護天使</th>
            </tr>
        </thead>
        <tbody>
            <% for(var index in channel){ %>
                <tr class="bg-primary">
                    <th scope="row"><%= parseInt(index)+1 %></th>
                    <td><%= channel[index].room %></td>
                    <td><%= channel[index].driver %></td>
                    <td>
                        <% for(var subindex in channel[index].GAs){ %>
                            <%= channel[index].GAs[subindex] %>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

</body>
</html>
