h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: #{$font-family-title},
    sans-serif;
    font-weight: $font-medium;
    letter-spacing: $letter-spacing-title;
}

p {
    font-size: $p-rem;
    line-height: $line-height-text;
    margin-bottom: $margin-bottom-text;
}


/* selection effects */

::selection {
    background-color: #3F3133;
    color: #FFCF47;
    text-shadow: none;
}

::-moz-selection {
    background-color: #3F3133;
    color: #FFCF47;
    text-shadow: none;
}

img::selection {
    background-color: transparent;
    color: #FFCF47;
}

img::-moz-selection {
    background-color: transparent;
    color: #FFCF47;
}