<!-- Account section - index.ejs -->
<section class="section-default section-account" id="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-content">
                <h1 class="section-head">註冊登入</h1>
                <div class="section-half section-left">
                    <div class="account-tabs">
                        <span class="account-tab tab-signin active"><a href="#signin">登入</a></span>
                        <span class="account-tab tab-signup"><a href="#signup">註冊</a></span>
                    </div>
                    <div class="account-content">
                        <div class="account-page account-signin">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <input class="account-input" id="email" type="email" name="email" required="required" placeholder="輸入您的電子信箱">
                                <label for="email">電子信箱</label>
                                <input class="account-input" id="password" type="password" name="password" required="required" placeholder="輸入您的密碼">
                                <label for="password">密碼</label>
                                <input class="checkbox" id="remember" type="checkbox" checked>
                                <label for="remember">記住帳號密碼</label>
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="登入">
                                    <a class="more" href="#">忘記密碼？</a>
                                </div>
                            </form>
                        </div>
                        <div class="account-page account-signup">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <input class="account-input" id="name" type="name" name="name" required="required" placeholder="輸入您的姓名">
                                <label for="name">姓名</label>
                                <input class="account-input" id="email" type="email" name="email" required="required" placeholder="輸入您的電子信箱">
                                <label for="email">電子信箱</label>
                                <input class="account-input" id="password" type="password" name="password" required="required" placeholder="輸入您的密碼">
                                <label for="password">密碼</label>
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="註冊">
                                    <a class="more" href="#">Terms and conditions</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>