<!-- account.ejs -->
<section class="section-default section-account" id="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-center account-center">
                <h2 class="section-title">成為 SCABER 的一員！</h2>
                <div class="section-half section-left">
                    <!-- account-tabs -->
                    <div class="account-tabs">
                        <!-- Sign-in -->
                        <span class="account-tab tab-signin active"><a href="#signin">登入 SCABER</a></span>
                        <!-- Google -->
                        <span class="account-tab tab-google-signup"><a href="#google-signup">Google 註冊</a></span>
                        <!-- Facebook -->
                        <span class="account-tab tab-facebook-signup"><a href="#facebook-signup">Facebook 註冊</a></span>
                    </div>
                    <!-- ./account-tabs -->
                    <div class="account-content">
                        <!-- Local Sign-in -->
                        <div class="account-page account-signin">
                            <!-- <h3><kbd> 目前使用 Google 註冊 </kbd></h3> -->
                            <form class="account-form" action="/login" method="GET">
                                <input class="account-input" id="username" type="username" name="username" required="required" placeholder="輸入您的SCABER帳號">
                                <label for="email">SCABER 名稱</label>
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="登入">
                                    <a class="terms" href="#">Terms and conditions</a>
                                </div>
                            </form>
                        </div>
                        <!-- Google Sign-up -->
                        <div class="account-page account-signup account-google">
                            <!-- <h3><kbd> 目前使用 Google 註冊 </kbd></h3> -->
                            <form class="account-form" action="/auth/google" method="POST">
                                <input class="account-input" id="username" type="username" name="username" required="required" placeholder="輸入您的SCABER帳號">
                                <label for="email">SCABER 名稱</label>
                                <input class="account-input" id="type" type="type" name="type" required="required" placeholder="司機 / 乘客">
                                <label for="password">SCABER 身份</label>
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="註冊">
                                    <a class="terms" href="#">Terms and conditions</a>
                                </div>
                            </form>
                        </div>
                        <!-- Facobook Sign-up -->
                        <div class="account-page account-signup account-facebook">
                            <!-- <h3><kbd> 目前使用 Facebook 註冊 </kbd></h3> -->
                            <form class="account-form" action="/auth/facebook" method="POST">
                                <input class="account-input" id="username" type="username" name="username" required="required" placeholder="輸入您的SCABER帳號">
                                <label for="email">SCABER 名稱</label>
                                <input class="account-input" id="type" type="type" name="type" required="required" placeholder="司機 / 乘客">
                                <label for="password">SCABER 角色</label>
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="註冊">
                                    <a class="terms" href="#">Terms and conditions</a>
                                </div>
                            </form>
                        </div>
                        <!-- Local -->
                        <!--<div class="account-page account-signin">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <input class="account-input" id="email" type="email" name="email" required="required" placeholder="輸入您的電子信箱">
                                <label for="email">電子信箱</label>
                                <input class="account-input" id="password" type="password" name="password" required="required" placeholder="輸入您的密碼">
                                <label for="password">密碼</label>
                                <input class="checkbox" id="remember" type="checkbox" checked>
                                <label for="remember">記住帳號密碼</label>
                                <input class="btn-theme2" type="submit" value="Facebook">
                                <input class="btn-theme2" type="submit" value="Google+">
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="登入">
                                    <a class="more" href="#">忘記密碼？</a>
                                </div>
                            </form>
                        </div>
                        <div class="account-page account-signup">
                            <form action="#" method="post" enctype="multipart/form-data">
                                <input class="account-input" id="name" type="name" name="name" required="required" placeholder="輸入您的姓名">
                                <label for="name">姓名</label>
                                <input class="account-input" id="email" type="email" name="email" required="required" placeholder="輸入您的電子信箱">
                                <label for="email">電子信箱</label>
                                <input class="account-input" id="password" type="password" name="password" required="required" placeholder="輸入您的密碼">
                                <label for="password">密碼</label>
                                <div class="account-submit">
                                    <input class="submit" type="submit" value="註冊">
                                    <a class="more" href="#">Terms and conditions</a>
                                </div>
                            </form>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
