<!-- Drivers intro section - index.ejs -->
<section class="section-default section-driver" id="driver">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 section-content">
                <h2 class="section-head">隨時掌握乘客需求！</h2>
                <p class="section-text">駕駛 SCABER 更能掌握乘客感受，協助合作駕駛提升服務品質。</p>
                <a class="btn btn-lg btn-theme1" href="#">駕駛 SCABER 的動機</a>
            </div>
        </div>
    </div>
</section>