<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="col-sm-8 col-md-8 col-xs-8">
            <br>
            <div class="form-group">
                <input id="chattext" type="text" class="form-control" placeholder="Type something...">
            </div>
        </div>
        <form class="navbar-right col-sm-4 col-md-4 col-xs-4">
            <br>
            <button type="button" class="btn btn-primary col-sm-12 col-md-12 col-xs-12" onclick="send()">送出</button>
        </form>
    </div>
</nav>
