<!-- Footer - index.ejs -->
<footer>
    <!-- Footer index -->
    <div class="footer-index">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="index-list">
                        <li>
                            <p class="index-header">About</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">About</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">About</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="index-list">
                        <li>
                            <p class="index-header">Service</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Service</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Service</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="index-list">
                        <li>
                            <p class="index-header">Account</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Sign in</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="index-list">
                        <li>
                            <p class="index-header">Contact</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Contact</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Contact</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="social-list">
                        <li>
                            <a class="social-icon" id="facebook" href="#">
                                <i class="fa fa-facebook" id="icon-facebook" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social-icon" id="google-plus" href="#">
                                <i class="fa fa-google-plus" id="icon-google-plus" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social-icon" id="twitter" href="#">
                                <i class="fa fa-twitter" id="icon-twitter" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social-icon" id="envelope" href="#">
                                <i class="fa fa-envelope" id="icon-envelope" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer copyright -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="copyright">Copyright 2017 by <b>SCABER</b>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>