<footer>
    <div class="index">
        <div class="container-fluid">
            <div class="col-md-8">
                <ul class="footer-list">
                    <li>
                        <p class="footer-list-header">About</p>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
                <ul class="footer-list">
                    <li>
                        <p class="footer-list-header">Service</p>
                    </li>
                    <li>
                        <a href="#">Service</a>
                    </li>
                    <li>
                        <a href="#">Service</a>
                    </li>
                    <li>
                        <a href="#">Service</a>
                    </li>
                </ul>
                <ul class="footer-list">
                    <li>
                        <p class="footer-list-header">Account</p>
                    </li>
                    <li>
                        <a href="#">Sign in</a>
                    </li>
                    <li>
                        <a href="#">Sign up</a>
                    </li>
                </ul>
                <ul class="footer-list">
                    <li>
                        <p class="footer-list-header">Contact</p>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-offset-8 col-md-4">

            </div>
        </div>
    </div>
</footer>