<!-- Footer - index.ejs -->
<footer>
    <!-- footer-top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- footer-brand -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-brand">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-logo">
                        <img class="footer-icon" src="../logo/logo_all.png" alt="">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 footer-account">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a class="btn btn-lg btn-theme2" href="#">註冊享受乘車</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a class="btn btn-lg btn-theme2" href="#">成爲合作駕駛</a>
                        </div>
                    </div>
                </div>
                <!-- /.footer-brand -->

                <!-- footer-menu -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 footer-menu">
                    <h4>Menu —</h4>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="footer-page">
                            <% var footer_page = [['feature', '特色'], ['passenger', '乘客'], ['driver', '駕駛'], ['team', '團隊']]; %>
                            <% for (var i = 0; i < footer_page.length; ++i) { %>
                            <li>
                                <a href="#<%= footer_page[i][0] %>"><%= footer_page[i][1] %></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="footer-list">
                            <% var footer_list = [['terms', '條款'], ['privacy', '隱私權'], ['security', '安全性'], ['help', '幫助']]; %>
                            <% for (var i = 0; i < footer_list.length; ++i) { %>
                            <li>
                                <a href="#"><%= footer_list[i][1] %></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-menu -->

                <!-- footer-contact -->
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-8 footer-contact">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 footer-social">
                        <h4>Follow Us —</h4>
                        <a class="btn-social" id="facebook" href="#">
                            <i class="fa fa-facebook"></i><span></span>
                        </a>
                        <a class="btn-social" id="google-plus" href="#">
                            <i class="fa fa-google-plus"></i><span></span>
                        </a>
                        <a class="btn-social" id="twitter" href="#">
                            <i class="fa fa-twitter"></i><span></span>
                        </a>
                        <a class="btn-social" id="instagram" href="#">
                            <i class="fa fa-instagram"></i><span></span>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 footer-app">
                        <h4>探索 SCABER —</h4>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-badges">
                            <a class="badge-link" href="#"><img src="badge/google_play.svg" alt=""></a>
                            <a class="badge-link" href="#"><img src="badge/apple_store.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- /.footer-contact -->
            </div>
        </div>
    </div>
    <!-- /.footer-top -->

    <!-- footer-bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="copyright">Copyright 2017 by <b>SCABER</b>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.footer-bottom -->
</footer>