<footer>
    <div class="index">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <ul class="index-list">
                        <li>
                            <p class="index-header">About</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">About</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">About</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">About</a>
                        </li>
                    </ul>
                    <ul class="index-list">
                        <li>
                            <p class="index-header">Service</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Service</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Service</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Service</a>
                        </li>
                    </ul>
                    <ul class="index-list">
                        <li>
                            <p class="index-header">Account</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Sign in</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Sign up</a>
                        </li>
                    </ul>
                    <ul class="index-list">
                        <li>
                            <p class="index-header">Contact</p>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Contact</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Contact</a>
                        </li>
                        <li>
                            <a class="index-anchor" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-offset-8 col-md-4">

                </div>
            </div>
        </div>
    </div>
</footer>