<!-- Footer - index.ejs -->
<footer>
    <!-- Footer index -->
    <div class="footer-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ul class="index-list">
                        <h3>About</h3>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ul class="index-list">
                        <h3>Service</h3>
                        <li>
                            <a href="#">Service</a>
                        </li>
                        <li>
                            <a href="#">Service</a>
                        </li>
                        <li>
                            <a href="#">Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ul class="index-list">
                        <h3>Account</h3>
                        <li>
                            <a href="#">Sign in</a>
                        </li>
                        <li>
                            <a href="#">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ul class="index-list">
                        <h3>Contact</h3>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                    <div class="social-list">
                        <a class="btn-social" id="facebook" href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="btn-social" id="google-plus" href="#">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                        <a class="btn-social" id="twitter" href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="btn-social" id="envelope" href="#">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer copyright -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p id="copyright">Copyright 2017 by <b>SCABER</b>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>