<!-- Header - index.ejs -->
<header>
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 header-main">
                    <p id="content">SCABER，是一套提供乘客「安全、共乘、評價」的乘車系統。透過政府的開放資料，整合臺灣現有核准執業的計程車業者，解決Uber的合法性爭議，減少對計程車業者的衝擊，也保障乘客的乘車安全，以達到雙方互利共生的經營方式。</p>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <ul class="header-list">
                            <li>
                                <a class="btn-main btn-circle" href="#">公開評價</a><span></span>
                            </li>
                            <li>
                                <a class="btn-main btn-circle" href="#">安全服務</a><span></span>
                            </li>
                            <li>
                                <a class="btn-main btn-circle" href="#">共乘模式</a><span></span>
                            </li>
                            <li>
                                <a class="btn-main btn-circle" href="#">解決現況</a><span></span>
                            </li>
                        </ul>
                    </div>
                </div> 
                <!-- Header brand -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 header-brand">
                
                </div>
            </div>
        </div>
    </div>
</header>
