<!-- Navbar - navbar.ejs -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <img class="navbar-icon" src="../logo/logo_icon.png" alt="">
            <a class="navbar-logo page-scroll" href="/">SCABER</a> <!-- Back to landing page -->
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
