<!-- Passengers intro section - index.ejs -->
<section class="section-default section-passenger" id="passenger">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 section-content">
                <h2 class="section-title">讓您更快抵達目的地！</h2>
                <p class="section-text">SCABER 社群的成員是來自不同背景、擁有不同經歷和興趣的合作駕駛。透過他們展現的熱情，讓我們能進一步真正認識他們。</p>
                <a class="section-btn btn-normal btn-lg btn-light" href="#">搭乘 SCABER 的理由</a>
            </div>
        </div>
    </div>
</section>