<!-- Service section - index.ejs -->
<section class="service-section" id="service">
    <div class="container">
        <div class="row">
            <!-- Left-side device mockup display -->
            <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 service-left">
            </div>
            <!-- /.about-left -->

            <!-- Center of circle buttons -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 service-btns">
                <a class="btn-circle btn-circle-inner" href="#">公開評價</a><span></span>
                <a class="btn-circle btn-circle-inner" href="#">安全服務</a><span></span>
                <a class="btn-circle btn-circle-inner" href="#">共乘模式</a><span></span>
                <a class="btn-circle btn-circle-inner" href="#">解決現況</a><span></span>
            </div>
            <!-- /.about-btns -->

            <!-- Right-side dialogue to display the message of service -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 service-right">
            </div>
            <!-- /.about-right -->
        </div>
    </div>
</section>