<!-- Sign in section - index.ejs -->
<section class="signin-content" id="signin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 signin-left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 signin-title">
                    <p id="title">SCABER</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signin-bar">
                      <ul>
                        <li><a class="sign-in active" >Sign in</a></li>
                        <li><a class="sign-up">Sign up</a></li>
                      </ul>
                </div>

                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signin-form" id="signin-left-main-1">
                    <div class="card-box-body">
                      <form class="form-signin">
                          <div class="form-group">
                             <input class="form-control" id="inputEmail" name="email" type="text" placeholder="Your email"></input>
                             <input class="form-control" id="inputPass" name="pass" type="text" placeholder="Your password"></input>
                          </div>

                          <div class="check-form">
                             <label class="form-check-label">
                                 <input class="form-check-input" type="checkbox">Remember me</input>
                             </label>
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-auth">
                            <a class="form-facebook" href="#"><img src="../social/signin_facebook.png"></a>
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-auth">
                            <a class="form-google" href="#"><img src="../social/signin_google.png"></a>
                          </div>
                          <button class="btn btn-default submit" id="signin" name="submitin" type="submit">Sign in</button>
                          <a class="form-forget" href="#">Forget your password?</a>
                      </form>
                    </div>
                 </div>

                 <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    <div class="signup-form" id="signin-left-main-2">
                      <div class="card-box-body" id="sign-up-body">
                          <form class="form-signup">
                              <div class="form-group">
                                 <label class="form-label" for="inputEmail"><b></b></label>
                                 <input class="form-control" id="inputEmail" name="email" type="text" placeholder="Your email"></input>
                               </div>

                             <div class="check-form">
                                 <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">I have read the terms and conditions</input>
                                 </label>
                             </div>
                             <button class="btn btn-default submit" id="signup" name="submitout" type="submit">Sign Up</button>

                        
                           </form>
                       </div>
                    </div>
                 </div>
            </div>
        </div>
                <div class="sign-in-box signup-form"></div>
                <div class="sign-up-box signup-form"></div>
    </div>
</section>