<!-- Sign in section - index.ejs -->
<section class="signin-section" id="signin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 signin-left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 signin-title">
                    <p id="title">SCABER</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signin-bar">
                    <ul class="ul_tabs">
                        <li class="active"><a class="fad1" href="#up" onclick="sign_in()">Sign in</a>
                        <span class="linea_bajo_nom"></span>
                        </li>
                        <li><a class="fad2" href="#up" onclick="sign_up()">Sign up</a>
                        <span class="linea_bajo_nom"></span>
                        </li>
                    </ul>
                </div>

                 <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signin-form">
                    <form class="form-signin" action="">
                        <div class="form-group">
                            <p>
                              <label class="w3-text-brown"><b>Account</b></label>
                               <input class="w3-input w3-border w3-round w3-light-grey active_inp" style="width:70%" name="email" type="text" placeholder="Your email"></input>
                             </p>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inputPass"><b>Password</b></label>
                            <input class="password active_inp" id="inputPass" name="pass" type="text" placeholder="Your password"></input>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">Remember me</input>
                            </label>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-auth">
                            <a class="form-facebook" href="#"><img src="../social/signin_facebook.png"></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-auth">
                            <a class="form-google" href="#"><img src="../social/signin_google.png"></a>
                        </div>
                        <button class="btn btn-default btn_sign" id="signin" name="submit" type="submit">Sign in</button>
                        <a class="link_forgot_pass d_block" href="#">Forget your password?</a>
                    </form>
                 </div>
                 <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signup-form">
                         <div class="form-group">
                           <p><input type="checkbox" name="terms_and_cons"/> <label for="terms_and_cons">Accept  Terms and Conditions.</label></p>
                         </div>
                 
                 </div>

            </div>
        </div>
    </div>
</section>