<!-- Sign in section - index.ejs -->
<section class="signin-section" id="signin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 signin-left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 signin-title">
                    <p id="title">SCABER</p>
                </div>
                  <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li>Social Profiles</li>
    <li>Personal Details</li>
  </ul>

                  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signin-bar">
                    <ul>
                    </ul>
                   </div>
                  
                  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signin-form">
                       <!-- progressbar -->



                     <form id="form-signin" action="">
                       <fieldset>
                           <input type="button"  class="action-button" value="Sign-in" />
                           <input type="button" name="next" class="next action-button" value="Sign-up" />
                           <h2 class="fs-title">Hello signin now!</h2>
                           <div class="welcome">
                           <h3 class="fs-subtitle">This is step 1 to signin</h3>
                           </div>
                         <div class="form-group">
                            <label class="form-label" for="inputEmail">Email</label>
                            <input class="form-control" id="inputEmail" name="email" type="text" placeholder="Your email"></input>
                         </div>
                         <div class="form-group">
                            <label class="form-label" for="inputPass"><b>Password</b></label>
                            <input class="form-control" id="inputPass" name="pass" type="text" placeholder="Your password"></input>
                         
                         </div>
                         <div class="form-group">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">Remember me
                            </label>
                         </div>
                         <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-auth">
                            <a class="form-facebook" href="#"><img src="../social/signin_facebook.png"></a>
                         </div>
                         <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-auth">
                            <a class="form-google" href="#"><img src="../social/signin_google.png"></a>
                         </div>
                         <button class="btn btn-default" id="signin" name="submit" type="submit">Sign in</button>
                         <a class="form-forget" href="#">Forget your password?</a>
                        </fieldset>

                        <fieldset>
                            <input type="button" name="previous" class="previous action-button" value="Previous" />
                            <br>
                            <br>
                            <p class="choose-your-way">Choose your identity!</p>
                            <br>
                            <br>
                            <input type="button" name="next" class="next action-button1 choice" value="Driver" />
                            <input type="button" name="previous" class="next action-button1 choice" value="Passenger" />
                        </fieldset>
                        
                        <fieldset>
                          <input type="button" name="previous" class="previous action-button" value="Previous" />
                         <input type="button" name="next" class="next action-button" value="Driver" />
                         <input type="button" name="previous" class="next action-button" value="passenger" />
                         <div class="welcome">
                         <h2 class="fs-title">Hello signup now!</h2>
                         <h3 class="fs-subtitle">This is step 1 to signup</h3>
                         <h3 class="fs-subtitle"><b>Choose your attribut, taxi? or passenger?<b></h3>
                         </div>
                       </fieldset> 
                      </form>

                  </div>
            </div>
        </div>
    </div>
</section>