<!-- Include CSS file -->
<link rel="stylesheet" href="timer.css">

<!-- timer.ejs -->
<section class="section-default section-timer" id="timer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-content">
                <h2 class="section-head">Final Project <span>Demo</span></h2>
                <div class="clock"></div>
	            <div class="message"></div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var clock;
    
    $(document).ready(function() {
        var clock;

        clock = $('.clock').FlipClock({
            clockFace: 'DailyCounter',
            autoStart: false,
            callbacks: {
                stop: function() {
                    $('.message').html('The clock has stopped!')
                }
            }
        });
                
        clock.setTime(2171640);
        clock.setCountdown(true);
        clock.start();

    });
</script>