/*** navbar.ejs ***/

@media screen and (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-header .navbar-brand {
        animation: pop .5s .0s 1 forwards;
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .navbar-header .navbar-icon {
        animation: pop .5s .0s 1 forwards;
        /* transform */
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #FFFFFF !important;
    }
    .navbar-default .nav>li {
        /* transform */
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    .navbar-default .nav>li:nth-child(1) {
        animation: pop .5s .15s 1 forwards;
    }
    .navbar-default .nav>li:nth-child(2) {
        animation: pop .5s .3s 1 forwards;
    }
    .navbar-default .nav>li:nth-child(3) {
        animation: pop .5s .45s 1 forwards;
    }
    .navbar-default .nav>li:nth-child(4) {
        animation: pop .5s .6s 1 forwards;
    }
    .navbar-default .nav>li:nth-child(5) {
        animation: pop .5s .75s 1 forwards;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #FFFFFF;
        /* Change to logo color */
    }
    .navbar-default.navbar-shrink {
        background-color: #FFCF47;
        border-color: rgba(34, 34, 34, 0.1);
    }
    .navbar-default.navbar-shrink .navbar-header .navbar-brand {
        color: #3F3133;
        font-size: 2.8rem;
    }
    .navbar-default.navbar-shrink .navbar-header .navbar-brand:hover,
    .navbar-default.navbar-shrink .navbar-header .navbar-brand:focus {
        color: #72595C !important;
    }
    .navbar-default.navbar-shrink .nav>li>a,
    .navbar-default.navbar-shrink .nav>li>a:focus {
        color: #3F3133;
        font-size: 15px;
    }
    .navbar-default.navbar-shrink .nav>li>a:hover,
    .navbar-default.navbar-shrink .nav>li>a:focus:hover {
        color: #72595C;
        /* Change to logo color */
    }
    .navbar-default.navbar-shrink .nav>li.active>a,
    .navbar-default.navbar-shrink .nav>li.active>a:focus {
        color: #DB5A3C !important;
    }
    .navbar-default.navbar-shrink .nav>li.active>a:hover,
    .navbar-default.navbar-shrink .nav>li.active>a:focus:hover {
        background-color: transparent;
    }
    /* animation - pop */
    @keyframes pop {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    @-webkit-keyframes pop {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    @-moz-keyframes pop {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    @-o-keyframes pop {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
}