html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #D8D8D8;
    font-family: 'Metrophobic', sans-serif;
    overflow-x: hidden;
}

hr {
    border-color: #FFCF47;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: #D8D8D8;
}

a {
    color: #FFCF47;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
}

a:hover,
a:focus {
    color: #F6B41E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Define font-family */
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

.bg-primary {
    background-color: #FFCF47;
}

.bg-dark {
    background-color: #3F3133;
    color: #D8D8D8;
}

.text-faded {
    color: rgba(216, 216, 216, 0.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}


/* btn-main */

.btn-main {
    /* Define chinese font family */
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 5px 0;
    text-align: center;
    text-decoration: none;
}

.btn-main:before {
    border: 5px solid #FFCF47;
    border-radius: 80px;
    box-shadow: 0 0 15px rgba(63, 49, 51, 0.15), 0 0 15px rgba(63, 49, 51, 0.15) inset;
    content: '';
    display: block;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn-main:hover:before {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


/* btn-circle */

.btn-circle {
    background-color: transparent;
    border: none;
    border-radius: 70px;
    color: #3F3133;
    cursor: pointer;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin: 25px 10px 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    width: 70px;
}

.btn-circle:hover {
    text-decoration: none;
    background-color: #F6B41E;
    color: #3F3133;
    padding: -2px;
}


/** navbar.ejs **/

.navbar-default {
    background-color: #FFCF47;
    border-color: rgba(255, 207, 71, 0.9);
    font-family: 'Metrophobic', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
}

.navbar-default .navbar-header {
    position: relative;
    vertical-align: middle;
}

.navbar-default .navbar-header .navbar-icon {
    height: 50px;
    width: auto;
    position: relative;
    top: 0.25vh;
    left: 5vw;
}

.navbar-default .navbar-header .navbar-logo {
    color: #3F3133;
    display: inline-block;
    font-family: 'Metrophobic', sans-serif;
    font-size: 2.75rem;
    height: inherit;
    letter-spacing: 5px;
    line-height: 3rem;
    position: relative;
    left: 5.5vw;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    vertical-align: middle;
}

.navbar-default .navbar-header .navbar-logo:hover {
    color: #72595C;
    text-decoration: none;
}

.navbar-default .navbar-header .navbar-logo:focus {
    color: #3F3133 !important;
    text-decoration: none;
}

.navbar-default .navbar-header .navbar-toggle {
    border-color: #3F3133;
    border-radius: 2.0rem;
    border-width: 0.25rem;
    /* Change to logo color */
    color: #3F3133;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-toggle:hover,
.navbar-default .navbar-header .navbar-toggle:focus {
    background-color: #3F3133;
    /* Change to logo color */
    color: #FFFFFF;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    background-color: transparent;
    color: #3F3133;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #BC782B;
    /* Change to logo color */
}

.navbar-default .nav>li:active>a,
.navbar-default .nav>li:active>a:focus {
    background-color: transparent;
    color: #BC782B !important;
    /* Change to logo color */
}

.navbar-default .nav>li:active>a:hover,
.navbar-default .nav>li:active>a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: #FFCF47;
        border-color: rgba(255, 207, 71, 0.9);
        border-top: 0;
    }
    .navbar-default .navbar-header .navbar-logo {
        color: #3F3133;
    }
    .navbar-default .navbar-header .navbar-logo:hover,
    .navbar-default .navbar-header .navbar-logo:focus {
        color: #72595C;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: #3F3133;
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #BC782B;
        /* Change to logo color */
    }
    .navbar-default.affix {
        background-color: #F4B781;
        border-color: rgba(244, 183, 129, 0.9);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #3F3133;
        font-size: 14px;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #72595C;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #3F3133;
    }
    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #BC782B;
        /* Change to logo color */
    }
}


/** header.ejs **/

header {
    background-color: #D8D8D8;
    background-image: url('header_1.png');
    /* Define background image */
    background-position: center;
    background-size: cover;
    color: #3F3133;
    font-family: 'Metrophobic', sans-serif;
    position: relative;
    min-height: auto;
    text-align: center;
    width: 100%;
}

header .header-content {
    padding: 100px 15px 100px;
    position: relative;
    text-align: left;
    width: 100%;
}

header .header-content .header-brand {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
}


/* header main */

.header-main .header-title {
    height: 40vh;
    overflow: hidden;
}

.header-main .header-title #content {
    color: #FFFFFF;
    display: inline-block;
    font-size: 2.25rem;
}

.header-main .header-btns {
    position: relative;
    text-align: center;
}

.header-main .header-btns .btn-main:before {
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
}

.header-main .btn-circle {
    background-color: #D8D8D8;
    height: 70px;
    line-height: 70px;
    margin: 25px 10px 0;
    padding: 0;
    width: 70px;
}

.header-main .btn-circle:hover {
    background-color: #F6B41E;
    color: #3F3133;
}


/* header brand */

.header-brand .header-icon {
    height: auto;
    max-width: 100%;
    position: relative;
    top: 5%;
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        padding-top: 200px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    header .header-content .header-brand {
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 25px;
    }
    header .header-main .header-title {
        height: 55vh;
    }
    header .header-brand .header-icon {
        max-width: 37.5vw;
        top: 47.5%;
    }
}


/** about.ejs **/

.about-content .btn-main:before {
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
}

.about-content .btn-circle {
    height: 70px;
    line-height: 70px;
    margin: 25px 10px 0;
    padding: 0;
    width: 70px;
}


/** service.ejs **/


/** signin.ejs **/

.signin-content ul {
    list-style: none;
    padding: 0;
}

.signin-content .signin-title {
    position: relative;
    margin-top: 7.5vh;
}

.signin-content .signin-title #title {
    font-family: 'Metrophobic', sans-serif;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
    text-align: center;
}

/** signin-bar的設計**/

.signin-content .signin-bar {
    position: relative;
    width: 100%;
    height: 5%;
    border-radius: 20px 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    text-decoration: none;
}

.signin-content .signin-bar li {
    /* DEFINE */
    float: left;
}

.signin-content .signin-bar li a {

    color: #3F3133;
    display: block;
    font-size: 1.2rem;
    padding: 15px 15px;
    letter-spacing: 2px;
    opacity: 0.7;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    height: 20%;
    width: 70%;
}

.signin-content .signin-bar li a:hover {
    color: #E79535;
}


/* signin form */

.signin-content .signin-form {
    position: relative;
    top: 7.4%;
}

.signin-content .signin-form .form-auth {

    padding: 0;
    padding-bottom: 20px;
    position: relative;
    height: 60px;
    width: 137.8px;
}

.signin-content .signin-form .form-auth a img{

    padding: 0;
    padding-bottom: 20px;
    position: relative;
    height: 60px;
    width: 137.8px;
}


.signin-content .signin-form button#signin {
    background-color: transparent;
    border: 2px solid #3F3133;
    color: #3F3133;
    font-size: 1.5rem;
    font-weight: bold;
    height: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.signin-content .signin-form button#signin:hover {
    border-color: #E79535;
    color: #E79535;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.signin-content .signin-form .form-forget {
    color: #72595C;
    display: inline-block;
    font-size: 0.75rem;
    padding-top: 2.5vh;
    position: relative;
    text-align: center;
    width: 100%;
}

.signin-content .signin-form .form-forget:hover {
    color: #E79535;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

/** signin-left **/
.signin-content .signin-left{
    z-index: 500;
    border-radius: 20px;
	box-shadow: 16px 16px 56px rgba(0, 0, 0, 0.3);
	background: linear-gradient;
    display: flex;
	flex-direction: column;
	position: relative;
    width: 400px;
	height: 600px;
	top: 1%;
	overflow: hidden;
}


/** contact.ejs **/


/** footer.ejs **/

footer {
    background-color: #FFCF47;
    color: #3F3133;
    font-family: 'Metrophobic', sans-serif;
    height: auto;
    width: 100%;
}

footer .footer-content {
    color: #3F3133;
    font-size: 12px;
    height: inherit;
    opacity: 0.7;
    position: relative;
    width: inherit;
}

footer .footer-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
}

footer .footer-menu,
footer .footer-contact {
    border-left: 1px solid rgba(63, 49, 51, 0.7);
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px 25px;
}

footer .footer-social {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .footer-title {
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* footer brand */

.footer-brand .footer-icon {
    height: auto;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 100%;
}

.footer-brand .footer-info li {
    padding-bottom: 10px;
    padding-left: 10px;
}

.footer-brand .footer-info i {
    background-color: #D8D8D8;
    border-radius: 50%;
    color: #3F3133;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 1px;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
}

.footer-brand .footer-info p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.footer-brand .footer-info span {
    display: block;
}


/* footer menu */

.footer-menu .footer-title {
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-menu ul li {
    padding: 5px 0px;
}

.footer-menu ul a {
    color: #3F3133;
    opacity: 1.0;
    text-transform: uppercase;
}

.footer-menu ul a:hover {
    opacity: 0.8;
    text-decoration: none;
}

.footer-menu .footer-page a {
    font-weight: bold;
}


/* footer social */

footer .footer-social .btn-social {
    background-color: #D8D8D8;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 10px 5px 0;
    padding: 0;
    position: relative;
    text-align: center !important;
    width: 3.6rem;
}

footer .footer-social .btn-social span {
    border-radius: 0;
    display: block;
    height: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    width: 0;
}

footer .footer-social .btn-social:hover span {
    border-radius: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem;
    width: 3.6rem;
}

footer .footer-social #facebook span {
    background-color: #3B5998;
}

footer .footer-social #google-plus span {
    background-color: #DB5A3C;
}

footer .footer-social #twitter span {
    background-color: #4099FF;
}

footer .footer-social #linkedin span {
    background-color: #007fB1;
}

footer .footer-social #instagram span {
    background-color: #5C3D2E;
}

footer .footer-social .btn-social i {
    background-color: none;
    border: none;
    color: #D8D8D8;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}

footer .footer-social #facebook i {
    color: #3B5998;
}

footer .footer-social #google-plus i {
    color: #DB5A3C;
}

footer .footer-social #twitter i {
    color: #4099FF;
}

footer .footer-social #linkedin i {
    color: #007fB1;
}

footer .footer-social #instagram i {
    color: #5C3D2E;
}

footer .footer-social .btn-social:hover i {
    color: #D8D8D8 !important;
}


/* footer copyright */

footer .footer-bottom {
    background-color: #3F3133;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .footer-bottom #copyright {
    color: #F6B41E;
    font-size: 1.0em;
    text-align: center;
    width: inherit;
}

@media (max-width: 969px) {
    footer .footer-contact {
        border: none;
    }
    footer .footer-news {
        border-left: 1px solid rgba(63, 49, 51, 0.7);
    }
}