html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #D8D8D8;
    font-family: 'Metrophobic', sans-serif;
    overflow-x: hidden;
    -webkit-tap-highlight-color: #D8D8D8;
}

hr {
    border-color: #FFCF47;
    border-width: 3px;
    margin: 25px auto 0;
    max-width: 50px;
}

hr.light {
    border-color: #D8D8D8;
}

a {
    color: #FFCF47;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
}

a:hover,
a:focus {
    color: #F6B41E;
}

.bg-primary {
    background-color: #FFCF47;
    color: #3F3133;
}

.bg-dark {
    background-color: #3F3133;
    color: #F6B41E;
}

.text-faded {
    color: rgba(216, 216, 216, 0.7);
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}


/** demo.ejs **/

.section-demo {
    background-color: #D8D8D8;
    position: relative;
}

.section-demo .section-title {
    color: #3F3133;
}